{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Cadastrar cabelo{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="adicionar_cabelo">
    <p>
        tipo: <input type="text" name="tipo" value="cacheado">
    </p>
    <p>
        corte: <input type="text" name="corte" value="longo">
    </p>
    <p>
        cor: <input type="text" name="cor" value="ruivo">
    </p>
    <p>
        idade: <input type="text" name="idade" value="2 ano">
    </p>
    <p>
        comprimento: <input type="text" name="comprimento" value="30 cm">
    </p>

    <button>Cadastrar</button>
</form>

{% endblock %}