{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem{% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_cabelo") }}">Cadastrar cabelo</a>
</p>

<table border="1">
    <tr>
        <td>tipo</td>
        <td>corte</td>
        <td>cor</td>
        <td>idade</td>
        <td>comprimento</td>
    </tr>

    {% for c in cabelos %}
    <tr>
        <td>{{c.tipo}}</td>
        <td>{{c.corte}}</td>
        <td>{{c.cor}}</td>
        <td>{{c.idade}}</td>
        <td>{{c.comprimento}}</td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}
